.niha{
    background-color: aqua; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;  
}
.rohini{
    background-color: burlywood; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nani{
    background-color: aquamarine; font-size: small;
}